@import url('./shell.css');

/*/ Gui Section right bottom Design Starts /*/
/*//*/
/*/ Shell of gui section /*/
.right_bottom {
    width: 90%;
    height: 88%;
}

#gui {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}

.bottom_left {
    padding-top: 50px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.bottom_right {
    width: 30%;
    height: 100%;
}

/*/ Main design of GUi Left /*/

/*/ Level-1 Disign Starts /*/
.bottom_left_l1>* {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bottom_left_l1 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.l1_left>* {
    width: 90%;
    height: 40%;
    border: 2px solid white;
}

.l1_middle>* {
    aspect-ratio: 92/69;
    width: 20%;
    border: 2px solid white;
}

.l1_right>* {
    width: 90%;
    height: 40%;
    border: 2px solid white;
}

.l1_left {
    width: 25%;
    height: 90%;
    gap: 5px;
}

.l1_middle {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: row;
    gap: 10px;
    width: 50%;
    height: 90%;
}

.l1_right {
    width: 25%;
    height: 90%;
    gap: 5px;
}

.l1_left_top {
    border-radius: 30px 30px 0px 0px;
}

.l1_left_bottom {
    border-radius: 0px 0px 30px 30px;
}

.l1_right_top {
    border-radius: 30px 30px 0px 0px;
}

.l1_right_bottom {
    border-radius: 0px 0px 30px 30px;
}
/*/ Level-1 Disign Ends /*/





/*/ Level-2 Disign Starts /*/

.bottom_left_l2{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
}
.bottom_left_l2>*{
    height: 100%;
    width: 50%;
    border: 2px solid white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}


/*/ Horizontal Line /*/
.bottom_left_l2>*::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transform: translateY(-50%); /* Centers the 2px thickness perfectly */
}
/*/ Verticle Line /*/
.bottom_left_l2>*::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: white;
    transform: translateX(-50%); /* Centers the 2px thickness perfectly */
}


.bottom_left_l2>*>*{
    width: 46%;
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.bottom_left_l2>*>*>*{
    background-color: aqua;
    width: 10%;
    aspect-ratio: 1;
    border: 2px solid white;
    border-radius: 50%;
}

/*/ Level-2 Disign Ends/*/


/*/ Level-3 Disign Starts/*/

.bottom_left_l3>*{

    height: 100%;
    width: 50%;
    /* border: 2px solid white; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bottom_left_l3{
    display: flex;
    width: 100%;
    height: 40%;
    gap: 10%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2%;

}
/*/ Dpad /*/
.l3_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    
}
.l3_left_top{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;

}
.l3_left_middle{
    width: 80%;
    height: 40%;
    display: flex;
    align-items: center;
    gap: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.l3_left_bottom{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40%;
}

.l3_left_top>*{
    width: 10%;
    height: 90%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 30px 30px;
}

.l3_left_middle>*{
    width: 30%;
    height: 40%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.dpad_2{
     border-radius: 0px 30px 30px 0px;
}
.dpad_3{
     border-radius: 30px 0px 0px 30px;
}
.l3_left_bottom>*{
    width: 10%;
    height: 90%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px 30px 0px 0px;
}

/*/ ABXY /*/

.l3_right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;

    
}
.l3_right_top{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;

}
.l3_right_middle{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.l3_right_bottom{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 50%;
}

.l3_right_top>*{
    aspect-ratio: 1;
    height: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
}

.l3_right_middle>*{
    width: 40%;
    height: 40%;
    aspect-ratio: 1;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
}
.l3_right_bottom>*{
    
    width: 20%; 
    height: 50%;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
}
/*/ Level-3 Disign Ends/*/


/*/ Gui Section right bottom Design ends /*/